.body-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header {
    border: 2px solid red;
    margin: 8px 8px;
}

.calculator-container {
    display: grid;
}

.screen {
    height: 10vh;
    border: 2px solid blue;
    padding: 8px 8px;
    align-self: center;
}

.button-container {
    display: grid;
    height: 69vh;
    width: 52.5vw;
    grid-template-areas: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q q q";
    border: 2px solid red;
    padding: 8px 8px;
    align-self: center;
}

.button-container button:not(.q) {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: .5vw;
    width: 12vw;
    border: 2px solid green;
}

.q {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 4px;
    border: 2px solid green;
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}
.f {
    grid-area: f;
}
.g {
    grid-area: g;
}
.h {
    grid-area: h;
}
.i {
    grid-area: i;
}
.j {
    grid-area: j;
}
.k {
    grid-area: k;
}
.l {
    grid-area: l;
}
.m {
    grid-area: m;
}
.n {
    grid-area: n;
}
.o {
    grid-area: o;
}
.p {
    grid-area: p;
}
.q {
    grid-area: q;
}