.body-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header {
    border: 2px solid red;
    margin: 8px 8px;
}

.calculator-container {
    display: grid;
}

.screen {
    height: 10vh;
    border: 2px solid blue;
    padding: 8px 8px;
    align-self: center;
}

.button-container {
    display: grid;
    height: 60vh;
    width: 40vw;
    grid-template-areas:
    "clear clear backspace backspace" 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q q q";
    border: 2px solid red;
    padding: 8px 8px;
    align-self: center;
}

.button-container button:not(.q):not(.clear):not(.backspace) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 0px;
    margin: 4px;
    height: 90%;
    width: 90%;
    border: 2px solid blue;
    border-radius: 4px;
}

.controls {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 4px;
    border: 2px solid blue;
    border-radius: 4px;
    height: 80%;
}

/* .controls {
    background-color: darkgreen;
    color: white;
    border: 2px solid blue;
    border-radius: 4px;
} */

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}
.f {
    grid-area: f;
}
.g {
    grid-area: g;
}
.h {
    grid-area: h;
}
.i {
    grid-area: i;
}
.j {
    grid-area: j;
}
.k {
    grid-area: k;
}
.l {
    grid-area: l;
}
.m {
    grid-area: m;
}
.n {
    grid-area: n;
}
.o {
    grid-area: o;
}
.p {
    grid-area: p;
}
.q {
    grid-area: q;
}
.clear {
    grid-area: clear;
}
.backspace {
    grid-area: backspace;
}